@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* fuchsia, purple, indigo, sky (300/900) */
#gradient-canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  --gradient-color-1: #f0abfc;
  --gradient-color-2: #c084fc;
  --gradient-color-3: #a5b4fc;
  --gradient-color-4: #22d3ee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  #gradient-canvas{
    --gradient-color-1: #4a044e;
    --gradient-color-2: #3b0764;
    --gradient-color-3: #1e1b4b;
    --gradient-color-4: #020617;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}